{% extends 'base.html.twig' %}

{% block body %}
	<h1>Mon Panier</h1>

	{% if cartItems is empty %}
		<p>Votre panier est vide.</p>
	{% else %}
		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Grammage</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Réduction</th>
					<th>Sous-total</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for item in cartItems %}
					<tr>
						<td>{{ item.product.name }}</td>
						<td>
							{% if item.weight %}
								{{ item.quantity }}
								{% if 'g' not in item.weight %}
									g
								{% endif %}
							{% else %}
								{{ item.quantity }}
							{% endif %}
						</td>
						<td>{{ item.quantity }}</td>
						<td>
							{% if item.discount > 0 %}
								<span class="text-danger">
									<s>{{ item.original_price|number_format(2, ',', ' ') }}
										€</s>
								</span>
								<br>
								<strong class="text-success">{{ item.price|number_format(2, ',', ' ') }}
									€</strong>
							{% else %}
								{{ item.price|number_format(2, ',', ' ') }}
								€
							{% endif %}
						</td>
						<td>
							{% if item.weight %}
								{% set price1g = item.product.getPriceByWeight()['1'] ?? item.product.getPrice() %}
								{% set selectedPricePerGram = item.original_price / item.weight %}
								{% set discountPercentage = ((1 - (selectedPricePerGram / price1g)) * 100)|round(2) %}

								{% if discountPercentage > 0 %}
									<span class="badge bg-success">-{{ discountPercentage|number_format(2, ',', ' ') }}%</span>
								{% else %}
									-
								{% endif %}
							{% else %}
								-
							{% endif %}
						</td>
						<td>
							<strong>{{ (item.price * item.quantity)|number_format(2, ',', ' ') }}
								€</strong>
						</td>
						<td>
							{% if item.weight %}
								<a href="{{ path('cart_remove', { id: item.product.id, weight: item.weight }) }}" class="btn btn-danger">Supprimer</a>
							{% else %}
								<a href="{{ path('cart_remove', { id: item.product.id }) }}" class="btn btn-danger">Supprimer</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- Total général -->
		<h3 class="text-end">Total :
			{{ total|number_format(2, ',', ' ') }}
			€</h3>

		<!-- Boutons d'action centrés et bien placés -->
		<div class="d-flex justify-content-between mt-3">
			<a href="{{ path('cart_clear') }}" class="btn btn-warning">Vider le panier</a>
			<a href="{{ path('order_checkout') }}" class="btn btn-success">Commander</a>
		</div>
	{% endif %}
{% endblock %}
