{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<section class="login-container">
    <div class="login-box">
        <h1 class="login-title">Définir un nouveau mot de passe</h1>

        {{ form_start(resetForm, {'attr': {'class': 'login-form'}}) }}
            {{ form_label(resetForm.plainPassword, 'Nouveau mot de passe') }}
            {{ form_widget(resetForm.plainPassword, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(resetForm.plainPassword) }}

            <button class="btn-primary" type="submit">🔒 Réinitialiser</button>
        {{ form_end(resetForm) }}
    </div>
</section>
{% endblock %}